<!DOCTYPE html>
<html>
  <body>
  	<div class="row">
  	  <% @artist.each do |artist| %>
  	  	<div class="col-md-3">
  	  	  <%= link_to "#{artist.name}", artist_path(artist) %>
  	  	</div>
  	  <% end %>
  	</div>


  </body>
</html>
